@charset "utf-8";

body{
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form{
	margin-bottom: 0;
}

#attach_file input{
    margin-bottom: 10px;
}

.container{
    width: 800px; 
    margin: 0 auto;
}

.search-box{
    border: solid 1px #CCC;
    padding: 10px;
}

.task-box{
    border: solid 1px #CCC;
    padding: 10px;
}

.detail-box{
    border: solid 1px #CCC;
    padding: 10px;
}

.attach-file-box{
    border: solid 1px #CCC;
    padding: 10px;
}

.input-box{
    border: solid 1px #CCC;
    padding: 10px;
}

.error-box{
    border: solid 1px #CCC;
    padding: 60px;
    height: 100px;
}

.error-box p{
    text-align: center;
}

.btn_center{
    padding-left: 96px; 
    text-align:center;
}

.btn_left{
    text-align:left;
}

.btn_light{
    float: right;
}

.btn_center_conf{
    padding-right: 64px; 
    text-align: center;
}

.btn_left_back_to_detail{
    float: left;
}

.btn_modal{
    display: flex;
    width: 200px;
    margin: 0 auto;
}

.square_btn{
    font-size: 16px;
    border: none;
    outline: none;
    appearance: none;
    cursor: pointer;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;
    color: #FFF;
    border-radius: 3px;
    margin: 5px;
}

.btn-clear{
    font-size: 16px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
}

.table_all{
    border-collapse: collapse;
    border: solid 1px #CCC;
    line-height: 1.5;
}

.table_all th{
    border: solid 1px #CCC;
    padding: 5px;
    font-weight: bold;
    vertical-align: top
}

.table_all td{
    border: solid 1px #CCC;
    padding: 5px;
    vertical-align: top;
}

.table_title01{
    width: 100px;
}

.table_title02{
    width: 450px;
}

.table_title03{
    width: 150px;
}

.table_title04{
    width: 100px;
}

.error{
    color: #ff0000;
}

#close{
    cursor: pointer;
    color: #ffffff;
    background: rgb(150, 150, 150);
    width: 100px;
    border: 1px solid #ccc;
    border-radius: 3px;
    text-align: center;
    line-height: 40px;
    margin: 5px;
}
  
#mask{
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

#modal {
    background: #fff;
    width: 800px;
    padding: 20px;
    border-radius: 4px;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: 0.8s;
    z-index: 2;
}

#modal p {
    line-height: 1.5;
    margin: 0 0 20px;
}

#mask.hidden{
    display: none;
}

#modal.hidden{
    transform: translate(0, -500px);
}
